{% load static %}
{% load i18n %}

<section id="about" class="about spacer-double-lg">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-5 col-md-9 order-2">
                <h3 class="h1">{% trans 'Maxident’e Hoş Geldiniz!' %}</h3>
                <p class="lead">
                    {% blocktrans trimmed %} 
                    Maxident Ağız ve Diş Sağlığı Polikliniğinde tüm hastalarımızın estetik, ağız ve diş
                    sağlığı süreçlerini kişi anatomisine özel ihtiyaçlar doğrultusunda alanında tecrübeli diş
                    doktorlarımız ve yüksek teknoloji ekipmanlarımızdan faydalanarak en yüksek standartlarda
                    sunmaktayız. Tam donanımlı ve güncel teknolojilere sahip ağız, diş sağlığı ve estetiği
                    parkurlarımızla sizin için en iyi sonuçları sunmak, gülüşünüz ile barışmanız için yanınızdayız! 
                    {% endblocktrans %}
                </p>
                <div class="max-width-2">
                    <hr class="my-5" />
                </div>
                
            </div>
            <div class="col-lg-5 col-md-9 order-1 mb-5 mb-lg-0">
                <img src="{% static 'assets/img/3.jpg' %}" alt="" class="img-fluid rounded shadow-lg z-index-2 position-relative" />
                <div class="position-absolute p-0 col-4 col-xl-4 top left mt-5 mn-lg-l mn-sm-l d-none d-md-block">
                    <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 219.0727 218.875"
                        enable-background="new 0 0 219.0727 218.875"
                        xml:space="preserve"
                    >
                        <g>
                            <g>
                                <rect fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-around spacer-one-top-lg mb-6 pb-6">
            <div class="col-lg-5 col-md-9 order-1">
                <h3 class="h1">{% trans 'Diş sağlığı ve estetiğinde size özel çözümler!' %}</h3>
                <p class="lead">
                    {% blocktrans trimmed %}
                    Ağız ve diş sağlığı süreci yönetiminde hastalarımızın gülüşünü yeniden keşfetmesi için 
                    güncel tedavi yöntemleri ve teknolojiler ile çalışıyor, kişiye özel çözümler sunuyoruz.
                    {% endblocktrans %}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        {% static 'assets/svg/icon-checked.svg' as checkbox_svg %}
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">{% trans 'Diş Beyazlatma' %}</div>
                        </div>
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">{% trans 'İmplant Tedavisi' %}</div>
                        </div>
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">
                                {% trans 'Zirkonyum Kaplama' %}
                            </div>
                        </div>
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">{% trans 'Ortodonti' %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">{% trans '3D Tomografi' %}</div>
                        </div>
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">{% trans 'Beyaz Dolgu' %}</div>
                        </div>
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">{% trans 'Kanal Tedavisi' %}</div>
                        </div>
                        <div class="media align-items-center mb-1">
                            <img class="mr-2 icon-check" src="{{checkbox_svg}}" alt="" />
                            <div class="media-body h6">{% trans 'Çocuk Diş Hekimliği' %}</div>
                        </div>
                    </div>
                </div>
                <a class="scroll btn btn-primary btn-radius-bottom-left mt-5 mb-lg-0 mb-5" href="#contact">
                    <span class="mn-top">{% trans 'Detaylı bilgi için bize ulaşın' %}</span>
                </a>
            </div>
            <div class="col-lg-5 col-md-9 order-2">
                <img src="{% static 'assets/img/4.jpg' %}" alt="" class="img-fluid rounded shadow-lg z-index-2 position-relative" />
                <div class="position-absolute p-0 col-4 col-xl-4 top right mt-5 mn-lg-r mn-sm-r d-none d-md-block">
                    <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 219.0727 218.875"
                        enable-background="new 0 0 219.0727 218.875"
                        xml:space="preserve"
                    >
                        <g>
                            <g>
                                <rect fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="15.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="34.5745" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="52.6618" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="71.5025" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="90.3431" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="109.1838" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="125.375" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="143.625" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="161.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="177.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="196.375" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                            <g>
                                <rect y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="17.9375" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="35.8125" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="53.9375" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="73" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="90.7602" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="109.0102" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="126.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="144.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="162.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="181.0102" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="198.8852" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                                <rect x="214.9477" y="214.875" fill="#E7EAF3" width="4.125" height="4" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        
    </div>
</section>
