{% load static %}
{% load i18n %}

   <footer class="container spacer-double-md">
    <div class="row text-center">
       <div class="col">
          <a role="button" href="https://api.whatsapp.com/send?phone=905300279532" class="btn font-weight-400 font-size-16 btn-secondary btn-radius-bottom-left text-left mb-2 mb-sm-0 mr-1">
            <span class="media align-items-center mn-top">
            <span class="fab fa-whatsapp font-size-24 mr-3"></span>
            <span class="media-body">
            <span class="d-block">{% trans 'Detaylar için' %}</span>
            <strong class="font-size-15 mn-top">{% trans 'Bize Yazın' %}</strong>
            </span>
            </span>
          </a>
          <a href="tel:902645028505" type="button" class="btn font-weight-400 font-size-16 btn-primary btn-radius-bottom-right text-left mb-2 mb-sm-0 ml-1">
            <span class="media align-items-center mn-top">
            <span class="fas fa-phone font-size-24 mr-3" style="transform: rotate(90deg);"></span>
            <span class="media-body">
            <span class="d-block">{% trans 'Detaylar için' %}</span>
            <strong class="font-size-15 mn-top">{% trans 'Bizi Arayın ' %}</strong>
            </span>
            </span>
        </a>
       </div>
    </div>
    <div class="row">
       <div class="col">
          <hr class="my-6">
       </div>
    </div>
    <div class="row align-items-md-center">
       <div class="col-md-4 mb-4 mb-md-0">
          <div class="d-flex align-items-center">
             <p class="font-size-14  mb-0">
                <a href="https://theblackcapmedia.com/">
                 <span class="text-muted">Site by Black Cap Media</span>
                </a> 
             </p>
          </div>
       </div>
       <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
          <ul class="list-inline list-group-flush  text-md-center mb-0 mn-top">
             <li class="list-inline-item px-2">
                <a class="list-group-item-action" href="https://maxident.com.tr/ ">Maxident.com</a>
             </li>
             <li class="list-inline-item px-2">
                <a class="list-group-item-action" href="https://maxident.com.tr/aydinlatma-metni/ ">KVKK</a>
             </li>
          </ul>
       </div>
       <div class="col-sm-6 col-md-4">
          <ul class="list-inline text-sm-right mb-0 font-size-14 mn-top">
             <li class="list-inline-item px-2">
                <a class="list-group-item-action " href="https://www.facebook.com/maxidentdispoliklinigi">
                <span class="fab fa-facebook-f "></span>
                </a>
             </li>
             <li class="list-inline-item px-2">
                <a class="list-group-item-action " href="https://www.instagram.com/maxident_dis_poliklinigi/?hl=tr ">
                <span class="fab fa-instagram "></span>
                </a>
             </li>
          </ul>
       </div>
    </div>
   
 </footer>