{% load i18n %}

<section class="bg-primary spacer-double-sm mt-n">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-0">
                    <li class="my-3 mx-3 mx-lg-4">
                        <h5 class="h5 text-white">
                            {% blocktrans trimmed %}
                            Kişiye özel diş sağlığı ve estetik çözümlerimiz ile tedavi yolculuğunuz boyunca
                            yanınızdayız. Yüksek poliklinik donanımı, tecrübeli ekibimiz ve hiç eksik etmeyeceğimiz
                            güler yüzümüzle hizmetinizdeyiz.
                            {% endblocktrans %}
                            
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
